[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack = "*"
requests-html = "*"
"boto3" = "*"
slackclient = "*"
requests = "*"

[dev-packages]
neovim = "*"
ipython = "*"

[requires]
python_version = "3.6"
