[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"boto3" = "*"
requests = "*"
requests-html = "*"
feedparser = "*"
python-dotenv = "*"

[dev-packages]
neovim = "*"
jedi = "*"
ipython = "*"

[requires]
python_version = "3.6"
